#################
# Package Aliases
#################
alias y="yaourt --noconfirm"
alias i="yaourt -Sy --noconfirm"
alias u="yaourt -Syu --aur --noconfirm"
alias r="yaourt -Rs --noconfirm"


##################
# Anaconda Aliases
##################
function conda_on() {
    conda_env=${1:-workspace}
    echo "Activating $conda_env..."
    source /opt/anaconda/bin/activate
}
function conda_off() {
    conda_env=${1:-workspace}
    echo "Deactivating $conda_env..."
    source /opt/anaconda/bin/deactivate ${1:-workspace}
}


#############
# NPM Aliases
#############
alias ni="npm i -g"
alias nr="npm r -g"
alias nu="npm up -g"


##############
# Yarn Aliases
##############
alias js="yarn"
alias js0="yarn init"
alias jsi="yarn add"
alias jsid="yarn add -D"
alias jsr="yarn remove"


######################
# React Native Aliases
######################
alias rn="react-native "
alias rna="react-native run-android"
alias rni="react-native run-ios"
alias rnc="kill -9 \$(sudo lsof -i :8081 | awk -F ' ' '{ print $2 }' | uniq | tail -n 2)"


##############
# Python Aliases
##############
alias list_envs="ls $ENVS"
alias pip="pip3"
alias pyenv="python3.7 -m venv"


##############
# Make Aliases
##############
alias mk="make"


################
# Docker Aliases
################
alias dk="docker"
alias dkc="docker-compose"
alias dkm="docker-machine"


################
# Others Aliases
################
alias rmf="rm -rf"
alias ae="~/Android/Sdk/emulator/emulator @lg-screen -use-system-libs "
alias ci="code-insiders"
alias emulator="$ANDROID_HOME/tools/emulator"

################
# MAC OS
################
alias bi="brew install"
alias bu="brew upgrade && brew cask upgrade"
alias bci="brew cask install"

################
# Utils
################
function tid() {
    # conda_env=${1:-workspace}
    ps -ax | grep -i $1 | grep -v 0:00.00 | awk '{ print $1 }' | uniq
}
function ak() {
    kill -9 $(tid $1)
}
ALIAS_FILE="~/.aliases"
ZSHRC="~/.zshrc"
alias edit_als="vim $ALIAS_FILE; source $ALIAS_FILE;"
alias edit_zsh="vim $ZSHRC; source $ZSHRC;"

