# CD Aliases
############
    alias ..="cd .."
    alias ...="cd ../.."


# Package Aliases
#################
    
    alias i="yay -Sy --noconfirm"
    alias s="yay -Ss"
    alias r="yay -Rsc"
    alias u="yay -Syu; npm up -g npm; sudo deno upgrade"
  


# Deno aliases
#############
    alias dn="deno"
    alias dnr="deno run"
    alias dni="deno install"


# NPM Aliases
#############
    alias ni="npm i -g"
    alias nr="npm r -g"
    alias nu="npm up -g"


# Yarn Aliases
##############
    alias js="yarn"
    alias js0="yarn init"
    alias jsi="yarn add"
    alias jsid="yarn add -D"
    alias jsr="yarn remove"


# Make Aliases
##############
    alias mk="make"


# Docker Aliases
################
    alias dk="docker"
    alias dc="docker-compose"
    alias dm="docker-machine"
    alias ds="docker stack"
    alias dsd="docker stack deploy"
    alias dsd="docker stack remove"
    alias dkps="docker container ps"
    alias ctop="docker rm ctop; docker run --rm -ti \
        --name=ctop \
        -v /var/run/docker.sock:/var/run/docker.sock \
        quay.io/vektorlab/ctop:latest"


# K8s Aliases
#############
    alias k="kubectl"
    alias kg="kubectl get"
    alias ka="kubectl apply -f"
    alias kd="kubectl delete -f"

# Text Editors
################
    alias ev="nvim"
    alias ec="code-insiders"
    alias ee="emacs"
    alias eet="emacs -nw"
    alias ees="emacs --daemon"
    alias eec="emacsclient -t"


# Tmux Editors
################
    alias ta="tmux attach-session -t"
    alias tl="tmux list-session"


# Others Aliases
################
    alias rmf="rm -rf"
    mcd() { mkdir $1; cd $1; }
    runa() { $HOME/Library/Android/sdk/emulator/emulator -avd $1 }


# Utils
################
    # kill
        function tid() {
            ps -ax | grep -i $1 | grep -v 0:00.00 | awk '{ print $1 }' | uniq
        }
        function ak() {
            kill -9 $(tid $1)
        }

    # volume

        function vol() {
            pactl -- set-sink-volume 0 $1%
        }

        export VOLUME=100
        function vu() {
            vol +10
        }
        function vd() {
            vol -10
        }

        function tvol {
            if [ $VOLUME = 100 ]; then
                export VOLUME=150
            else
                export VOLUME=100
            fi
            vol $VOLUME
        }
